<div  class="cardList-container">
    <ul *ngIf="list && list.length > 0; else emptyList" [ngStyle]="{'flex-direction': direction}">
        <li *ngFor="let item of list" >
            
            <ng-container
                [ngTemplateOutlet]="cardTemplateRef"
                [ngTemplateOutletContext]="{$implicit:item}"
            >
            </ng-container>
            <ng-content item={{item}}></ng-content>
            
        </li>
    </ul>
    
    <ng-template #emptyList>
        <div *ngIf="loading; else noList" class="spinner">
            
            <h2>loading...</h2>
          </div>
        <ng-template #noList>
            <h1>Empty list</h1>
        </ng-template>
    </ng-template>
</div>

