@import "../../../mixins";

.header-container {
  @include flex(center, space-between);
  height: 10vh;
  padding: 0 var(--padding1);

  div {
    @include flex(center, space-between, row);

    p {
      margin: 0;
    }
  }
}